@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .page {
        @apply py-16;
    }
    .container {
        @apply mx-auto px-4;
    }
}

body {
    background-color: #f7f8f9;
}
.text-ellipsis-multiline {
    --line-count: 3;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box !important;
    -webkit-line-clamp: var(--line-count);
    -webkit-box-orient: vertical;
    white-space: normal;
}

.page-enter-active, .page-leave-active {
    --page-transition-duration: 0.3s;
    transition: opacity var(--page-transition-duration) ease;
}
.page-enter, 
.page-leave-to {
    position: relative;
}
.page-enter::before, 
.page-leave-to::before {
    content: '';
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    width: 100%;
    height: 100%;
    background-color: #f7f8f9;
    
}
.page-enter::after, 
.page-leave-to::after {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='48' height='48'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M18.364 5.636L16.95 7.05A7 7 0 1 0 19 12h2a9 9 0 1 1-2.636-6.364z'/%3E%3C/svg%3E");
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    animation: spin 1s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-origin: center;

}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}